@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  color: rgb(37, 37, 37);
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}

h1, h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.4em;
}

h1 {
  padding: 10px 0;
  margin: 0 auto;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.underline::first-letter {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  text-decoration-color: #99E2D0;
}

nav {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}
nav h1 {
  text-align: center;
}
nav i {
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 10px;
}

.en-tete-image {
  position: relative;
  width: 100%;
}
.en-tete-image figure {
  padding: 0;
  margin: 0;
}
.en-tete-image figure img {
  z-index: 9999;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
  margin: -50px auto auto auto;
  border-radius: 20px 20px 0 0;
  background-color: rgb(238, 238, 238);
}
main .titre {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  /*On leur définit un espace allouée et une position absolute pour qu'il soit superposé*/
  /*COEUR CREUX*/
  /*COEUR REMPLI*/
}
main .titre p {
  position: relative;
  width: 20px;
}
main .titre .remplir, main .titre .remplir-hover {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
main .titre .remplir {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
main .titre .remplir:hover {
  opacity: 0;
}
main .titre .remplir-hover {
  color: #9356DC;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
main .titre .remplir-hover:hover {
  opacity: 1;
}
main section {
  margin: 0 auto;
  width: 90%;
  /* TEST ANIMATION */
  /* .list-plate {
       -ms-flex-item-align: end;
       align-self: flex-end;
       opacity: 1;
       overflow: hidden;
     }*/
}
main section .list-plate { /* ARTICLE */
  cursor: pointer;
  height: 95px;
  padding-left: 10px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  overflow: hidden;
  box-sizing: border-box;
  animation: slide-in-bottom 1s ease-in-out;
  /* ----------------------------------------------
  /**
  * ----------------------------------------
  * animation slide-in-bottom
  * ----------------------------------------
  */
  /* PRIX + BOUTON ADD CART */
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
main section .list-plate .list-plate-desc {
  width: 60%;
}
main section .list-plate .list-plate-desc p {
  white-space: nowrap;
}
main section .list-plate .list-plate-info {
  display: flex;
  flex-flow: row;
  width: 30%;
  justify-content: center;
  align-items: flex-end;
}
main section .list-plate .list-plate-info .price {
  margin-right: 140px;
}
main section .list-plate .titre-plat {
  color: black;
  font-size: 1.1em;
  font-weight: 600;
}
main section .list-plate .add-cart {
  border-radius: 0 10px 10px 0;
  background-color: #99E2D0;
  width: 60%;
  height: 100%;
  margin-right: -190px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin 0.4s ease-in;
}
main section .list-plate .add-cart i {
  transition: transform 0.6s ease-in;
  color: #99E2D0;
  background-color: white;
  border: 1px solid #99E2D0;
  border-radius: 50%;
  font-size: 30px;
}
main section .list-plate:hover {
  display: flex;
  flex-flow: row;
}
main section .list-plate:hover .price {
  width: 50%;
  margin-right: 0;
}
main section .list-plate:hover .list-plate-desc {
  /* A DECLENCHER QUAND LE BOUTON VERT ARRIVE SINON LAISSER AVEC LE NOWWRAP DE BASE */
}
main section .list-plate:hover .list-plate-desc p {
  overflow: hidden;
  text-overflow: ellipsis;
}
main section .list-plate:hover .add-cart {
  margin: 0;
}
main section .list-plate:hover .add-cart i {
  transform: rotate(360deg) scale(1.2);
}
main .menu-restaurant-box {
  display: flex;
  justify-content: center;
}
main .menu-commander {
  box-shadow: 5px 5px 5px #e8e8e8, -5px 5px 5px #e8e8e8;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding: 11px 22px;
  background-image: linear-gradient(-15deg, #9356DC 35%, #FF79DA);
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
main .menu-commander:hover {
  opacity: 0.9;
  box-shadow: 5px 5px 5px #b4b3b3, -5px 5px 5px #b4b3b3;
}

footer {
  background-color: rgb(39, 32, 32);
  color: white;
  margin: auto;
}
footer p, footer ul {
  width: 80%;
  margin: auto;
  padding-bottom: 15px;
}
footer p {
  font-family: "Shrikhand", sans-serif;
  padding-top: 15px;
  line-height: 1.15em;
}
footer ul {
  list-style: none;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

@media (min-width: 768px) {
  .en-tete-image figure img {
    height: 300px;
  }
  main section {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  main section .list-plate {
    width: 47%;
  }
  main section .list-plate .list-plate-info .price {
    margin-right: 100px;
  }
  main section .list-plate:hover .price {
    margin-right: 0px;
    text-align: center;
  }
  main section .list-plate:hover .add-cart {
    margin: 0;
  }
  main section h3 {
    width: 100%;
  }
  main section .menu-restaurant-box {
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
  main section .titre {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  body {
    max-width: 1400px;
  }
  .en-tete-image figure img {
    height: 400px;
  }
  main section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
    /* AJOUTER AU PANIER SUR PC */
  }
  main section .list-plate {
    width: 30%;
  }
  main section .list-plate .list-plate-info .price {
    margin-right: 110px;
  }
  main section .list-plate:hover .price {
    margin-right: 0px;
    text-align: center;
  }
  main section .list-plate:hover .add-cart {
    margin: 0;
  }
  main section h3 {
    width: 100%;
  }
  main section .menu-restaurant-box {
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }
  main section .titre {
    width: 100%;
  }
}/*# sourceMappingURL=menu.css.map */